# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/
.venv/

# Database files
*.db

# IDE and editor files
*.swp
*.swo
*.idea/
*.vscode/

# Logs
*.log

# Other files
*.DS_Store
