{% extends "base.html" %}
{% block title %}Manager Dashboard{% endblock %}
{% block content %}
<div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4">Manager Dashboard</h2>
    <div class="grid grid-cols-2 gap-4">
        <a href="{{ url_for('add_car') }}" class="bg-black text-white p-4 rounded hover:bg-blue-700 text-center">Add Car</a>
        <a href="{{ url_for('add_model') }}" class="bg-black text-white p-4 rounded hover:bg-blue-700 text-center">Add Model</a>
        <a href="{{ url_for('add_driver') }}" class="bg-black text-white p-4 rounded hover:bg-blue-700 text-center">Add Driver</a>
        <a href="{{ url_for('remove_driver') }}" class="bg-black text-white p-4 py-4 rounded hover:bg-red-700 text-center">Remove Driver</a>
        <a href="{{ url_for('remove_car') }}" class="bg-black text-white p-4 py-4 rounded hover:bg-red-700 text-center">Remove Car</a>
        <a href="{{ url_for('remove_model') }}" class="bg-black text-white p-4 py-4 rounded hover:bg-red-700 text-center">Remove Model</a>
        <a href="{{ url_for('top_k_clients') }}" class="bg-black text-white p-4 rounded hover:bg-blue-700 text-center">Top-K Clients</a>
        <a href="{{ url_for('car_model_rents') }}" class="bg-black text-white p-4 rounded hover:bg-blue-700 text-center">Car Model Rents</a>
        <a href="{{ url_for('driver_stats') }}" class="bg-black text-white p-4 rounded hover:bg-blue-700 text-center">Driver Stats</a>
        <a href="{{ url_for('city_query') }}" class="bg-black text-white p-4 rounded hover:bg-blue-700 text-center">City Query</a>
        <a href="{{ url_for('problematic_drivers') }}" class="bg-black text-white p-4 rounded hover:bg-blue-700 text-center">Problematic Drivers</a>
        <a href="{{ url_for('brand_stats') }}" class="bg-black text-white p-4 rounded hover:bg-blue-700 text-center">Brand Stats</a>
    </div>
</div>
{% endblock %}